.ff-movie-card--wrapper {
  display: inline-block;
  width: 50%;
  margin-bottom: 50px;
}

.ff-movie-card {
  width: 185px;
  height: 333px;
  margin: auto;
}

.ff-movie-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.ff-movie-img--wrapper {
  box-shadow: 0px 0px 7px 2px #17212f;
  border-radius: 5px;
  overflow: hidden;
  height: 278px;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: white;
}

.ff-movie-img {
  cursor: pointer;
  height: 278px;
  margin: auto;
}

.ff-movie-score {
  color: white;
}

.ff-movie-score img {
  width: 10px;
  height: auto;
  padding: 2px;
}

@media screen and (min-width: 970px) {
  .ff-movie-card--wrapper {
    display: inline-block;
    width: 25%;
  }
}

@media screen and (min-width: 750px) and (max-width: 970px){
  .ff-movie-card--wrapper {
    display: inline-block;
    width: 33%;
  }
}