.ff-nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 50px 70px 0 70px;
}

.ff-nav-logo img {
  width: 40px;
  height: auto;
}

.ff-nav a {
  font-family: 'Oswald', sans-serif;
  padding-left: 40px;
  color: #B5BBCE;
  letter-spacing: 1.5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.ff-nav a:hover {
  color: white;
}

@media screen and (max-width: 600px){
.ff-nav {
    display: none;
  }
}